/* latin */
@font-face {
    font-family: 'Astymeus';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/audiowide/v9/l7gdbjpo0cum0ckerWCdlg_O.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Hermana';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* latin */
@font-face {
    font-family: 'Fly';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/indieflower/v12/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Nounayi';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/righteous/v9/1cXxaUPXBpj2rGoU7C9WiHGF.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* latin */
@font-face {
    font-family: 'Trunks';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/permanentmarker/v10/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Cfw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'LeGrosBubu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/grandstander/v4/ga6fawtA-GpSsTWrnNHPCSIMZhhKpFjyNZIQD1--P3_ctw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

$astymeus-font: #ECE300;
$astymeus-outline-color: #ECE300;
$astymeus-background: #014A84;

$limoges-outline-color: #ec0000;
$limoges-font: #ECE300;
$limoges-background: #020b13;

$trunks-outline-color: #F076F7;
$trunks-font: #7BACF5;
$trunks-background: #723875;

$bubu-outline-color: #eaffff;
$bubu-font: #eaffff;
$bubu-background: #22277c;

$nounayi-outline-color: #00f0ff;
$nounayi-font: #ffb400;
$nounayi-background: #6f8485;

$hermana-outline-color:  #F54574;
$hermana-font: #ffffff;
$hermana-background: #B81453;

$fly-outline-color:  #B46EFD;
$fly-font: #ffffff;
$fly-background: #7731C0;


body {
    --width: 100;

    --widthPX: calc(var(--width) * 1px);
    --height: calc(var(--widthPX) * 1.25);
    --nameHeight: calc(var(--height) - var(--widthPX));
    --fontSize: calc((var(--widthPX) / 100) * 15);
    width: 100%;
    overflow: hidden;

    .voice-container {
        .voice-states {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin-block-start: 0;
            margin-block-end: 0;
            position: absolute;
            bottom: 0;
            transform: translateX(-50%);
            left: 50%;
            margin-bottom: 10px;

            .voice-state {
                width: var(--widthPX);
                height: var(--height);
                margin: 0px 5px;
                background-color: black;
                box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.8);
                position: relative;
                text-align: center;

                &[data-reactid=".0.0.0.$297382847822692353/=1$297382847822692353"] {

                    background-color: $bubu-background;

                    .avatar {
                        content: url("https://cdn.discordapp.com/attachments/308263318085304321/814625372598566912/Logo4k.png");

                        &.speaking {
                            outline-color: $bubu-outline-color;
                        }
                    }

                    .user {
                        background-color: darken($bubu-background,10%);

                        &:after {
                            content: "Mr Olin";
                            color: $bubu-font;
                            font-family: "LeGrosBubu";
                        }

                        .name {
                            display: none;
                        }
                    }
                }//BUBU

                &[data-reactid=".0.0.0.$301401591334961153/=1$301401591334961153"] {

                    background-color: $trunks-background;

                    .avatar {
                        content: url("https://cdn.discordapp.com/attachments/308263318085304321/814627758503493652/mirai-trunks-chibi-facudibuja-png-clipart.png");

                        &.speaking {
                            outline-color: $trunks-outline-color;
                        }
                    }

                    .user {
                        background-color: $trunks-background;

                        &:after {
                            content: "Mr Unks";
                            color: $trunks-font;
                            font-family: "Trunks";
                        }

                        .name {
                            display: none;
                        }
                    }
                }//TRUNKS

                &[data-reactid=".0.0.0.$814589968940924928/=1$814589968940924928"] {
                    //BOT
                    display: none;
                }//BOT

                &[data-reactid=".0.0.0.$325618663166312459/=1$325618663166312459"] {

                    background-color: $astymeus-background;

                    .avatar {
                        content: url("https://cdn.discordapp.com/attachments/359413119321112588/814617896378171492/Logo3.0_1080.png");

                        &.speaking {
                            outline-color: $astymeus-outline-color;
                        }
                    }

                    .user {
                        background-color: $astymeus-background;

                        &:after {
                            content: "Mr Meus";
                            color: $astymeus-font;
                            font-family: "Astymeus";
                        }

                        .name {
                            display: none;
                        }
                    }
                }//MEUS

                &[data-reactid=".0.0.0.$229252658488279041/=1$229252658488279041"] {

                    background-color: $limoges-background;

                    .avatar {
                        content: url("https://cdn.discordapp.com/attachments/325388975072083979/814621157474566164/YujiroHanma-removebg-preview_1.png");

                        &.speaking {
                            outline-color: $limoges-outline-color;
                        }
                    }

                    .user {
                        background-color: $limoges-background;

                        &:after {
                            content: "Mr Moges";
                            color: $limoges-font;
                            font-family: "Limoges";
                        }

                        .name {
                            display: none;
                        }
                    }
                }//LIMOGES

                &[data-reactid=".0.0.0.$516222199288561665/=1$516222199288561665"] {

                    background-color: $nounayi-background;

                    .avatar {
                        content: url("https://cdn.discordapp.com/attachments/576512940816072708/814635611423375370/mirai-trunks-chibi-facudibuja-png-clipart.png");

                        &.speaking {
                            outline-color: $nounayi-outline-color;
                        }
                    }

                    .user {
                        background-color: $nounayi-background;

                        &:after {
                            content: "Mr Nayi";
                            color: $nounayi-font;
                            font-family: "Nounayi";
                        }

                        .name {
                            display: none;
                        }
                    }
                }//NOUNAYI

                &[data-reactid=".0.0.0.$670270236326494248/=1$670270236326494248"] {

                    background-color: $hermana-background;

                    .avatar {
                        content: url("https://cdn.discordapp.com/attachments/692554453966127135/814631494344638515/4cc5dd579f7ff6a0ef5b0f7b9042e5d5-removebg-preview.png");

                        &.speaking {
                            outline-color: $hermana-outline-color;
                        }
                    }

                    .user {
                        background-color: $hermana-background;

                        &:after {
                            content: "La Lama";
                            color: $hermana-font;
                            font-family: "Hermana";
                        }

                        .name {
                            display: none;
                        }
                    }
                }//HERMANA

                &[data-reactid=".0.0.0.$670270236326494248/=1$670270236326494248"] {

                    background-color: $fly-background;

                    .avatar {
                        // content: url("https://cdn.discordapp.com/attachments/692554453966127135/814631494344638515/4cc5dd579f7ff6a0ef5b0f7b9042e5d5-removebg-preview.png");

                        &.speaking {
                            outline-color: $fly-outline-color;
                        }
                    }

                    .user {
                        background-color: $fly-background;

                        &:after {
                            content: "Mr Fly";
                            color: $fly-font;
                            font-family: "Fly";
                        }

                        .name {
                            display: none;
                        }
                    }
                }//FLY

                .avatar {
                    height: var(--widthPX);
                    width: 100%;
                    border-radius: 0;
                    border-width: 0;
                    opacity: 0.3;
                    filter: grayscale(100%);
                    transition: filter 0.15s, opacity 0.15s;
                    border: 0;

                    &.speaking {
                        opacity: 1;
                        filter: grayscale(0%);
                        outline: calc(var(--widthPX) / 20) solid #43b581;
                        outline-offset: calc(var(--widthPX) / 20 * -1);
                    }
                }

                .user {
                    background-color: #1e2124;
                    position: absolute;
                    bottom: 0px;
                    padding: 0px;
                    height: var(--nameHeight);
                    width: 100%;

                    &:after {
                        font-size: var(--fontSize) !important;
                        padding: 0px;
                        margin: 0px;
                        height: 0;
                        position: relative;
                        display: inline-block;
                        transform: translateY(calc(var(--nameHeight) / 2 - var(--fontSize) / 2));
                    }

                    .name {
                        font-size: var(--fontSize) !important;
                        padding: 0px;
                        margin: 0px;
                        height: 0;
                        position: relative;
                        display: inline-block;
                        transform: translateY(calc(var(--nameHeight) / 2 - var(--fontSize) / 2));
                    }


                }
            }

        }
    }


}